@media screen and (max-width: 640px){
    main{
        margin: auto;
        max-width: 350px;
    }

    #sobre{
        display: block;
        margin: 30px 0 50px 0;
    }

    #sobre img{
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 350px;
        height: 350px;
    }

    #sobre h2{
        margin-bottom: 40px;
    }

    #produtos{
        display: block;
    }

    #produtos a.display-mobile{
        display: block;
    }

    #produtos a.display-tablet{
        display: none;
    }

    #produtos a.display-desktop{
        display: none;
    }
}